.container {
  height: 100vh;
}

.header-container {
  padding: 2%;
  padding-left: 0%;
  width:100%
}

.audiomood {
  padding-left: 3%;
}

.wrap {
  padding: 3%;
  width:100%;
}

.c-left {
  height: 70vh;
  width:50%;
  float : left ;
}

.c-right {
  height: 70vh;
  padding: 5%;
  width:50%;
  float : left ;
 }

 .inner-right{
  height: 90% ;
}

.button-list > div  {
  width:auto;
  padding:3%;
  display:inline-block;
}

.button-list > div > button {
  width:auto;
  height:5vh;
  display:inline-block;
}

.player {
  border: 1px solid #908b85; 
  border-radius: 5px;
  height: 90% ;
  overflow:hidden;
}

 audio {
  width:100%;
  display:block;
  outline: none;
}

.head {
  width:100%;
  margin-top: 3%;
}

.genre-info {
  border: 1px solid #908b85; 
  border-radius: 5px;
  height: 10%;
  width:100%;
  padding: 3%;
}

.playlist {
  height: 100%;
  width:100%;
  padding:3%;
  overflow: scroll;
}

.playlist > h1:hover { 
  background: #f2f2f2; 
}

.track {
  font-weight: normal;
  font-size: 16px;
}





