
.player{
  border: 1px solid #908b85; 
  border-radius: 5px;
}

.audiomood {
  font-size:5vw;
}

.row-one {
  height: 100px;
  margin:5px;
  padding:25px;
}

.row-two {
  height: 400px;
  margin:20px;
  padding:20px;
}

.c-left, .c-right {
  padding:20px;
  height:100%;
 }

.player {
 height:100%;
 width:auto;
 
} 

.genre-info {
  height: 30px;
  margin:10px;
  border: 1px solid #908b85; 
  border-radius: 5px;
}

.playlist {
  overflow: scroll;
  width:auto;
  height:200px;
  margin:10px;
}

.playlist > h1:hover { 
  background: #f2f2f2; 
}

audio {
 width:100%;
 outline: none;
 padding:5px;
}

.track {
  font-size:2vw;
  margin:2px;
}

.button-list {
  height: 100%;
  width:auto;
  overflow: scroll;
}

.button-list > div {
  display: inline;
}

.button-list > div > button {
  margin:5px;
}







